* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;

}
body {
  background-color: black;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 5px;
  border: 8px solid rgba(245, 245, 245, 0.911);

}



h1 {
  text-align: center;
  letter-spacing: 0.7rem;
  font-size: 2rem;
  opacity: 0.8;
  text-shadow: 0 3px 10px rgba(0, 162, 255, 0.993);

}
h1:hover {
  opacity: 0.9;
}

span {
  font-size: 3rem;
  padding: 2px;
  color: rgba(0, 162, 255, 0.993);
  text-shadow: 0 3px 15px;
  font-size: 3rem;
  display: inline-block;
  transform: translateY(15px) rotate(20deg);
  animation: flash 1s linear infinite;
}
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  5%{opacity: 1; color: white;}
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100%{opacity: 0;}
}
/* media contact */

.contactMedia {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 50px;
  margin: 25px;
 color:rgba(0, 162, 255, 0.993);
  opacity: 0.7;
  transition: 0.3s linear;
}
i:hover {
  transform: scale(0.8);
  opacity: 0.5;
  color: rgb(255, 255, 255);
}
i::after {
  position: relative;
  top: 0;
  left: -100%;
  content: "";
  border: 2px solid red;
  display: block;
 margin-top: 2px;
  opacity: 0;
  transition: 0.4s;
}
i:hover::after {
  opacity: 0.8;
  left: 0;
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
}
img {
  opacity: 0.7;
  display: block;
  margin-top: 60px;
transition: 1s ease-out;
}

img:hover{
  opacity: 0.5;
}
/* Media mobile */
@media  (max-width:768px) {
  h1{
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
  i{
    font-size: 30px;
  }

}


